@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #invoice,
  #invoice * {
    visibility: visible;
  }

  #invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2.5cm;
    box-shadow: none;
    border: none;
  }

  @page {
    margin: 0;
    size: auto;
  }
}